{% extends "nie_hub/mainBase.html" %}
{% load static %}
{% block styles %}
<script type="text/javascript" src=" {% static "js/events.js"%}"></script>
{% endblock %}
{% block content %}
	<form style="width: 60%;" method="POST">{% csrf_token %}

		<label for="types" style="color: white">Enter the number of types of items?</label>
		<input type="number" name="types" id="types" class="form-control">
		<button class="btn btn-success" onclick="displayer()">OK</button>
		<table class="table table-bordered">
			<tr>
				<th style="color: white">Item Name</th>
				<th style="color: white">Category</th>
			</tr>
			<tbody id="insert"></tbody>
			<script type="text/javascript">
				function displayer(){
					counter = document.getElementById("types").value;
					for (var i = 0; i < counter; i++) {
						document.getElementById("insert").innerHTML += '<tr><td><input type="text" name="iname'+ i +'" id="iname'+ i +'" class="form-control" required></td><td><select name="category'+ i +'" class="form-control" id="category'+ i +'"><option value="Shirts">Shirts</option><option value="Trousers">Trousers</option><option value="Caps">Caps</option><option value="Others">Others</option></select></td></tr>';
					}	
				}
			</script>
		</table>

			
	<input type="submit" name="submit" value="NEXT" id="sub" class="btn btn-success">
	</form>
{% endblock %}
