{% extends 'nie_hub/base.html' %}

{% block content %}
	<div class="col-lg-2">
		<div class="vertical-menu">
			<a href="{%url "home" %}" class="active">Home</a>
			<a href="{%url "login" %}" >Login</a>
			<a href="{%url "signup" %}">Sign Up</a>
		</div>
	</div>
	<div class="col-lg-8">
	<p>Student interaction plays a vital role in education. The NIE Hub is a one-stop online app to ease the communication not only among students but also among students and teachers of the National Institute of Engineering, Mysore. The NIE Hub can connect students among themselves, staff and faculty members.</p>
	<p> 
The students face problems in accessing/getting updates about things happening in college. The purpose of this connection through the NIE Hub is manifold. Information on official notifications, transfer of notes from the faculty members, college fests/workshops, availability of resources, could easily and quickly be disseminated via the user-friendly NIE Hub. All this is being facilitated by letting the recognized user category to upload the information on the web app.</p>
 <p>The NIE Hub keeps you posted about the latest college notifications, news, and updates. The app provides a universal platform for ease of interaction among students themselves, and also among the faculty members and students to pass on the information on class resources.</p> 
<p>Students spend a lot of time and effort in looking for resources, be it books or notes. Many students even have a tough time searching for books to be purchased in shops/online. This app, the NIE Hub, provides a solution for this too. The senior students possessing such books of the previous semesters shall notify the same on the Hub, and the students desiring of its purchase shall easily connect with him/her through the NIE Hub.</p> 
<p>The NIE Hub app also facilitates the Event/Fest organizers to inform the concerned about the programs scheduled and sale of any item related to their fests, such as fest T-shirts and other similar products.</p>
<p> 
The highlight of the NIE Hub app is that it forms a bridge for communication between the teachers and the students. It provides a facility for the teachers to upload resources for the target students, on to the web application. The students can view them online from where ever or whenever they want. This app saves the teachers from making their separate websites to upload such resources, saving their time and effort. 
</p>
</div>
<div class="col-lg-2">
	
</div>
	
{% endblock %}